SERVER_HOST=
SERVER_USER=root
SERVER_PASSWORD=
SSH_KEY_PATH=

OZON_CLIENT_ID=
OZON_API_KEY=

REPOSITORY_URL=https://github.com/daniil2022dol-bit/ANALITICA_OZON.git

OZON_PERFORMANCE_CLIENT_ID=
OZON_PERFORMANCE_CLIENT_SECRET=
OZON_PERFORMANCE_DOCS_URL=https://docs.ozon.ru/api/performance/
